.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 95vw;
}

.content {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 20px 16px 5px #373737;
    background-color: #A4FF29;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}