<main>
    <h1>Olá, escolha os pares de moeda que deseja ver a cotação!</h1>
    <section class="cardsMoedas">
        <section class="cards">
            <p>Dólar Canadense - Real Brasileiro</p>
            <a href="/cadbrl">Cotar</a>
        </section>

            
        <section class="cards">
            <p>Libra Esterlina - Real Brasileiro</p>
            <a href="/gbpbrl">Cotar</a>
        </section>


        <section class="cards">
            <p>Peso Argentino - Real Brasileiro</p>
            <a href="/arsbrl">Cotar</a>
        </section>

        <section class="cards">
            <p>Bitcoin - Real Brasileiro</p>
            <a href="/btcbrl">Cotar</a>
        </section>

        <section class="cards">
            <p>Litecoin - Real Brasileiro</p>
            <a href="/ltcbrl">Cotar</a>
        </section>

        <section class="cards">
            <p>Ethereum - Real Brasileiro</p>
            <a href="/ethbrl">Cotar</a>
        </section>

        <section class="cards">
            <p>Dogecoin - Real Brasileiro</p>
            <a href="/dogebrl">Cotar</a>
        </section>
    </section>
</main>