<h1>Olá, aqui você pode consultar a cotação de várias moedas</h1>
<section class="cardsMoedas">
    <section class="cards">
        <p>Dólar Canadense - Real Brasileiro</p>
        <a href="/cadbrl">Cotar</a>
    </section>

        
    <section class="cards">
        <p>Libra Esterlina - Real Brasileiro</p>
        <a href="/gbpbrl">Cotar</a>
    </section>


    <section class="cards">
        <p>Peso Argentino - Real Brasileiro</p>
        <a href="/arsbrl">Cotar</a>
    </section>
</section>