<main>
    <h1>Olá, escolha os pares de moeda que deseja ver a cotação!</h1>
    <section class="cardsMoedas">
        <section class="cards">
            <p>Dólar Americano - Real Brasileiro</p>
            <a href="/usdbrl">Cotar</a>
        </section>

        <section class="cards">
            <p>Ethereum - Dólar Americano</p>
            <a href="/ethusd">Cotar</a>
        </section>
        
        <section class="cards">
            <p>Bitcoin - Dólar Americano</p>
            <a href="/btcusd">Cotar</a>
        </section>

        <section class="cards">
            <p>Dólar Americano - Real Brasileiro Turismo</p>
            <a href="/usdbrlt">Cotar</a>
        </section>
    </section>
</main>