<section class="infos">
    <h1>Cotação {{ moeda.ETHBRL.code }} - {{ moeda.ETHBRL.codein }}</h1>
    <span>
        <p> Pares de moedas :</p><p>&nbsp;{{ moeda.ETHBRL.name }}</p>
    </span>
    <span>
        <p>Maior valor :</p><p>&nbsp;R$ {{ moeda.ETHBRL.high }}</p>
    </span>
    <span>
        <p>Menor valor:</p><p>&nbsp;R$ {{ moeda.ETHBRL.low }}</p>
    </span>
    <span>
        <p>Valor de compra: </p><p>&nbsp;R$ {{ moeda.ETHBRL.bid }}</p>
    </span>
    <span>
        <p>R$ 1 é o equivalente á </p><p>&nbsp;Ξ {{ moeda.ETHBRL.converte }}</p>
    </span>
    <span>
        <p>Horário da cotação: </p><p>&nbsp;{{ moeda.ETHBRL.create_date }}</p>
    </span>
</section>