<h1>Olá, aqui você pode consultar a cotação de várias moedas</h1>
<section class="cardsMoedas">
    <section class="cards">
        <p>USD - BRL</p>
        <a href="/usdbrl">Cotar</a>
    </section>

    <section class="cards">
        <p>EUR - BRL</p>
        <a href="/eurbrl">Cotar</a>
    </section>

    <section class="cards">
        <p>CAD - BRL</p>
        <a href="/cadbrl">Cotar</a>
    </section>

    <section class="cards">
        <p>ETH - USD</p>
        <a href="/ethusd">Cotar</a>
    </section>

    <section class="cards">
        <p>BTC - USD</p>
        <a href="/btcusd">Cotar</a>
    </section>
</section>