<section class="infos">
    <h1>Cotação {{ moeda.DOGEBRL.code }} - {{ moeda.DOGEBRL.codein }}</h1>
    <span>
        <p> Pares de moedas :</p><p>&nbsp;{{ moeda.DOGEBRL.name }}</p>
    </span>
    <span>
        <p>Maior valor :</p><p>&nbsp;R$ {{ moeda.DOGEBRL.high }}</p>
    </span>
    <span>
        <p>Menor valor:</p><p>&nbsp;R$ {{ moeda.DOGEBRL.low }}</p>
    </span>
    <span>
        <p>Valor de compra: </p><p>&nbsp;R$ {{ moeda.DOGEBRL.bid }}</p>
    </span>
    <span>
        <p>R$ 1 é o equivalente á </p><p>&nbsp;Ð {{ moeda.DOGEBRL.converte }}</p>
    </span>
    <span class="conversao">
        <input #myInput type="number" id="valor" name="valor"  placeholder="Digite aqui">
        <button (click)="click()">=</button>
        <p>Ð {{ this.valorconvertido }}</p>
    </span>
    <span>
        <p>Horário da cotação: </p><p>&nbsp;{{ moeda.DOGEBRL.create_date }}</p>
    </span>
</section>